#leafletMap {
	height: 100%;
	width: 100%;
}

html, body {
	height: 100%;
	width: 100%;
	background-color: LightSlateGrey;
}

.float-left-area {
	background-color: #333;
	height: 100%;
	width: 20%;
	float: left;
}

.float-right-area {
	height: 100%;
	width: 80%;
	float: left;
}

.inner-left {
	position: relative;
	padding: 5% 5% 5% 5%;
	height: 100%;
	color: white;
	padding: 5% 5% 5% 5%;
}

.inner-right {
	height: 100%;
}

h4 {
	padding-top: 5%;
	font-family: Helvetica;
}

#thumbnail {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 30%;
	max-width: 100%;
}

#headline{
	text-align: center;
	display: block;
}

#description {
	padding-top: 2%;
	font-family: Helvetica;
	font-size: 12px;
	height: 50%;
	overflow: auto;
}

#rankedArticles {
	top: 20%;
	width: 90%;
	position: absolute;
	font-family: Helvetica;
	font-size: 12px;
	height: 60%;
	overflow: auto;
}

#rankedArticles p {
	cursor: pointer;
}

#rankedArticles p:hover {
	opacity: 0.7;
}


.row {
	position: absolute;
	bottom: 5%;
}

#getInitArticles {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#reset, #showMoreArticles, #calculateTSP {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 10px;
}

.loader {
	margin: 0 auto;
	border: 16px solid #333;
	border-radius: 50%;
	border-top: 16px solid #428bca;
	border-bottom: 16px solid #428bca;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}